.snapshot-main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 15px;
	font-family: sans-serif;
	font-size: 13px;
}

.snapshot-panel {
	display: flex;
	flex-direction: row;
}

.snapshot-panel > .snapshot-subpanel {
	flex-grow: 1;
}

.snapshot-save {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.snapshot-save > .save-item {
	margin: 10px 0;
}

.snapshot-options {
	display: flex;
	flex-direction: column;
}

.snapshot-options > .snapshot-option {
	display: flex;
	align-items: center;
	user-select: none;
}
